nav {
    display: flex;
    margin-top: 20px;
    #loading{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999999;
        top: 0;
        left: 0;
        overflow-y: hidden;
        .loader-img {
            width: 90px;
            height: 90px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -60px;
            margin-left: -60px;
            background: url(../../assets/loader.svg) center center no-repeat;
            background-size: contain;
            @media only screen and (max-width: 1290px) {
                margin-top: -45px;
                margin-left: -45px;
            }
        }
        &.loaded{
            opacity: 0;
            transition: all .2s ease;
            z-index: -1;
        }
    }
    .bkgd {
        position: relative;
        top: -20px;
        left: -12vw;
        @media only screen and (max-width: 1290px) {
            position: initial;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
        }
        .background {
            background-image: url(../../assets/rounded-bg-lp.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 800px;
            height: 515px;
            margin: 0;
            background-repeat: no-repeat;
            z-index: -1;
            @media only screen and (max-width: 1290px) {
                width: 100vw;
                background-size: initial;
                height: 600px;
            }
        }
        .background-people {
            background-image: url(../../assets/grupo44.svg);
            position: absolute;
            top: 190px;
            left: 180px;
            width: 500px;
            height: 400px;
            margin: 0;
            background-repeat: no-repeat;
            @media only screen and (max-width: 1290px) {
                width: 80vw;
                position: initial;
                background-size: contain;
                height: 300px;
            }
        }
    }
    .logo-wrapper {
        position: absolute;
        @media only screen and (max-width: 1290px) {
            position: initial;
            margin: 40px 0 60px;
        }
        figure {
            background: url(../../assets/sami-logo-w.svg) center center no-repeat;
            width: 133px;
            height: 46px;
            background-size: cover;
            margin-left: 0;
            @media only screen and (max-width: 1290px) {
                margin-left: 40px;
            }
        }
    }
    ul {
        @media only screen and (max-width: 1290px) {
            display: none;
        }
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        li {
            margin: 0 1.5vw;
            text-align: left;
            letter-spacing: 0px;
            color: #ACACAC;
            opacity: 1;
            font-size: 14px;
            transition: all .3s ease;
            &:hover{
                color: #707070;
                cursor: pointer;
                transition: all .3s ease;
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    button {
        background: transparent linear-gradient(253deg, #1E99D5 0%, #02C3AD 100%) 0% 0% no-repeat padding-box;
        border-radius: 19px;
        opacity: 1;
        color: #ffffff;
        border: none;
        padding: 10px 40px !important;
        font-size: 14px;
        font-weight: bold;
    }
}