#section-four {
    height: 500px;
    padding: 50px 0;
    overflow: hidden;
    @media only screen and (max-width: 1289px) {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        .animated {
            transform: translateX(600px);
            opacity: 0;
            &.fadeInDown {
                opacity: 1 !important;
                animation: none !important;
                animation-duration: 0 !important;
                transform: translateX(0);
                transition: all .6s ease-out, opacity 1s ease-out;

            }
        }
    }
    .title-wrapper{
        padding: 0 12vw;
        @media only screen and (max-width: 1289px) {
            width: 90%;
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-left: 20px;
            margin-bottom: 25px;
        }
        .title{
            text-align: left;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: 16px;
            line-height: 34px;
            letter-spacing: 0px;
            color: #CBCBCB;
            text-transform: uppercase;
            opacity: 1;
            margin: 0;
            @media only screen and (max-width: 1289px) {
                margin: 40px 0 15px;
            }
            &-bold{
                font-weight: bold;
                font-size: 40px;
                color: #02C4AD;
                margin: 0;
            }
        }
    }
    .dots-wrapper {
        margin: 60px 0 120px;
        @media only screen and (max-width: 1289px) {
            margin: 0;
        }
        .dots{
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @media only screen and (max-width: 1289px) {
                display: block;
            }
            span {
                border: solid 1px #E0E0E0;
                width: 15%;
                z-index: -1;
                position: absolute;
                @media only screen and (max-width: 1289px) {
                    display: none;
                }
                    &:nth-of-type(1) {
                        transform: rotate(20deg);
                        left: 14%;
                        top: 42%;
                        @media only screen and (min-width: 1289px) {
                            left: 16%;
                        }
                        @media only screen and (min-width: 1600px) {
                            left: 21%;
                        }
                    }
                    &:nth-of-type(2) {
                        transform: rotate(-20deg);
                        left: 34%;
                        top: 40%;
                    }
                    &:nth-of-type(3) {
                        transform: rotate(20deg);
                        left: 51%;
                        top: 39%;
                    }
                    &:nth-of-type(4) {
                        transform: rotate(-20deg);
                        left: 70%;
                        top: 43%;
                        @media only screen and (min-width: 1289px) {
                            left: 68%;
                        }
                        @media only screen and (min-width: 1600px) {
                            left: 63%;
                        }
                    }
            }
            .dot{
                display: flex;
                flex-direction: column;
                width: 153px;
                align-items: center;
                text-align: center;
                margin: 0 3vw;
                transition: all 0.2s linear;
                @media only screen and (max-width: 1289px) {
                    margin: 50px;
                }
                &:nth-child(3), &:nth-child(7)  {
                    position: relative;
                    top: 75px;
                    @media only screen and (max-width: 1289px) {
                        position: initial;
                    }
                }
                &:hover {
                    transform: scale(1.15);
                    transition: all 0.4s ease-out;
                    line-height: 90px !important;
                }
                p {
                    text-align: center;
                    font-weight: bold;
                    font-family: 'Roboto';
                    font-size: 16px;
                    letter-spacing: 0px;
                    color: #707070;
                    opacity: 1;
                    line-height: 25px;
                }
                div {
                    width: 80px;
                    height: 80px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 3px 3px 5px #00000029;
                    opacity: 1;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:nth-child(1) {
                    figure {
                        background: transparent url('../../assets/report.svg') 0% 0% no-repeat padding-box;
                        opacity: 1;
                    }
                }
                &:nth-child(3) {
                    figure {
                        background: transparent url('../../assets/agreement.svg') 0% 0% no-repeat padding-box;
                        opacity: 1;
                    }
                }
                &:nth-child(5) {
                    figure {
                        background: transparent url('../../assets/miscellaneous.svg') 0% 0% no-repeat padding-box;
                        opacity: 1;
                    }
                }
                &:nth-child(7) {
                    figure {
                        background: transparent url('../../assets/brainstorm.svg') 0% 0% no-repeat padding-box;
                        opacity: 1;
                    }
                }
                &:nth-child(9) {
                    figure {
                        background: transparent url('../../assets/social-media.svg') 0% 0% no-repeat padding-box;
                        opacity: 1;
                    }
                }
                figure {
                    width: 40px;
                    height: 35px;
                    background-size: contain !important;
                    background-position: center !important;
                    margin: 0;
                }
            }
        }
    }
    .bottom-text {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0px;
        color: #00C8AA;
        opacity: 1;
        @media only screen and (max-width: 1289px) {
            width: 100vw;
        }
    }
}