html {
    scroll-behavior: smooth !important;
    body {
        font-family: 'Roboto';
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        &.scroll{
            overflow: initial;
        }
        &.no-overflow{
            overflow-x: hidden;
        }
        #root {
            max-width: 1980px;
        }
        button {
            cursor: pointer;
            transition: opacity .1s ease-in;
            z-index: 999;
            &:hover {
                opacity: 0.9 !important;
                box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149) !important;
                transition: all .2s ease-in-out;
            }
        }

        nav, #section-one, #section-two {
            padding: 0 12vw;
            @media only screen and (max-width: 1289px) {
                padding: 0;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }
        }
        a {
            text-decoration: none;
        }
        input:focus, button:focus{
            outline: none;
        }
        input:focus{
            border: 2px solid #2491DD !important;
            box-shadow: 0px 3px 6px #0B908629 !important;
            height: 20px !important;
            padding-left: 43px !important;
            @media only screen and (max-width: 1289px) {
                height: 12px !important;
                padding-left: 23px !important;
            }
        }
    }
}