html {
    scroll-behavior: smooth !important;
    body {
        font-family: 'Roboto';
        #root {
            &.loading{
                opacity: 0;
            }
        }
        button {
            cursor: pointer;
            transition: all .1s ease-in;
            z-index: 999;
            &:hover {
                opacity: 0.9 !important;
                box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149) !important;
                transition: all .2s ease-in-out;
            }
        }

        nav, #section-one, #section-two {
            padding: 0 12vw;
        }
    }
}