#section-seven {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .job-role {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;

        .position {
            line-height: 30px;
            font-size: 18px;
        }
    }

    .title-wrapper {
        margin-top: 40px;

        .title {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 45px;
            letter-spacing: 0px;
            color: #ACACAC;
            text-transform: uppercase;
            margin: 0;

            &-bold {
                font-weight: 700;
                color: #00C8AA;
                font-size: 40px;
                letter-spacing: 0;
                margin: 0;
                line-height: 45px;
            }
        }
    }

    .jobs-wrapper {
        width: 100%;

        @media only screen and (max-width: 1289px) {
            width: 100vw;
        }

        .area {
            padding: 0px 11vw;
            margin: 55px 0;

            @media only screen and (max-width: 1289px) {
                padding: 0px 20px;
            }
        }

        .title {
            color: #00C8AA;
            font-size: 30px;
            letter-spacing: 0;
            margin: 35px 0 25px;
            line-height: 45px;

            @media only screen and (max-width: 1289px) {
                font-size: 24px;
                line-height: 24px;
            }
        }

        .jobs-list,
        ul {
            list-style-type: none;
            padding: 0;

            .job {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 5px 5px 10px #00000029;
                border-radius: 24px;
                opacity: 1;
                margin-bottom: 21px;
                padding: 26px 52px;

                @media only screen and (max-width: 1289px) {
                    padding: 8px 16px;
                }

                &.clickable {
                    &:hover {
                        transition: all .4s ease-in-out;
                        box-shadow: 12px 12px 12px #00000029;
                    }
                }

                .job-opening {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    height: 100%;

                    @media only screen and (max-width: 1289px) {
                        flex-direction: column;
                        width: 100%;
                    }

                    p {
                        margin: 4px 0;
                    }

                    .posted,
                    div p {
                        text-align: center;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 0px;
                        color: #BCBCBC;
                        opacity: 1;

                        @media only screen and (max-width: 1289px) {
                            font-size: 14px !important;
                            text-align: left !important;
                        }
                    }

                    div {
                        display: flex;
                    }

                    .position {
                        color: #00C8AA;
                        font-size: 24px;
                        letter-spacing: 0;
                        margin: 0;
                        line-height: 45px;
                        text-align: left;

                        @media only screen and (max-width: 1289px) {
                            line-height: 30px;
                            font-size: 18px !important;
                        }
                    }

                    .more-info,
                    .more-info div {
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 15px 0;

                        .job-description {
                            .text {
                                width: 85%;
                            }
                        }

                        ul {
                            list-style-type: disc;
                            padding-left: 40px;
                            margin: 15px 0px;

                            @media only screen and (max-width: 1289px) {
                                padding: 0;
                            }
                        }

                        .title {
                            text-align: left;
                            letter-spacing: 0px;
                            font-size: 16px;
                            font-weight: bold;
                            color: #707070;
                            line-height: 24px;
                            opacity: 1;
                        }

                        .text,
                        .text li {
                            text-align: left;
                            font-size: 16px;
                            letter-spacing: 0px;
                            line-height: 24px;
                            color: #ACACAC;
                            font-family: 'Roboto';
                            opacity: 1;
                        }

                        button {
                            background: transparent linear-gradient(258deg, #1E99D5 0%, #02C3AD 100%) 0% 0% no-repeat padding-box;
                            box-shadow: 3px 3px 6px #00000036;
                            border-radius: 25px;
                            opacity: 1;
                            padding: 16px 70px;
                            color: #FFFFFF;
                            font-size: 16px;
                            font-weight: bold;
                            border: none;
                            margin: 40px 0 20px;
                        }

                        .job-requirements,
                        .job-benefits {
                            @media only screen and (max-width: 1289px) {
                                padding-left: 20px;
                                .title {
                                    margin-left: -20px;
                                }
                            }
                        }
                    }

                    .more-info,
                    .more-info div {
                        opacity: 0;
                        max-height: 0px;
                        margin: 0 !important;
                        pointer-events: none;
                        z-index: -1;
                        // transition: opacity 1.5s ease, max-height 1.75s linear;

                        &.opened {
                            opacity: 1;
                            transition: opacity 1.5s ease, max-height 1.75s linear;
                            max-height: 2000px;
                            z-index: 1;
                            pointer-events: initial;

                            div {
                                opacity: 1;
                                transition: opacity 1.5s ease, max-height 1.75s linear;
                                max-height: initial;
                                pointer-events: initial;
                                margin-top: 25px !important;
                            }
                        }

                        button {
                            margin: 40px 0;
                            width: 300px;
                            padding: 16px 0;

                            @media only screen and (max-width: 1289px) {
                                width: 92%;
                                padding: 16px 32px;
                                margin: 35px 0;
                            }

                            &.opened {
                                display: block;
                            }

                            &.closed {
                                display: none !important;
                            }
                        }
                    }

                    #application-form {
                        width: 80%;
                        opacity: 0;
                        max-height: 0px;
                        margin: 0 !important;
                        z-index: -1;
                        pointer-events: none;
                        transition: opacity .5s ease, max-height 1s ease;

                        &.closed {
                            form {
                                display: none;
                            }
                        }

                        @media only screen and (max-width: 1289px) {
                            margin-left: -40px !important;
                            width: 120%;
                        }

                        &.opened {
                            opacity: 1;
                            z-index: initial;
                            transition: opacity 1.25s ease-in, max-height 1.25s ease-in;
                            max-height: 2000px;
                            pointer-events: initial;
                            .input-wrap{
                                z-index: 1;
                            }
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            position: relative;

                            @media only screen and (max-width: 1289px) {
                                padding-left: 40px;
                            }

                            label {
                                color: #A3A3A3;
                                font-family: 'Roboto';
                                font-size: 16px;
                                line-height: 24px;
                                position: absolute;
                                padding: 37px 46px;
                                transition: all 0.3s ease-out;
                                cursor: text;
                                pointer-events: none;

                                @media only screen and (max-width: 1289px) {
                                    padding: 26px 14px;
                                    font-size: 12px;
                                }
                            }

                            p {
                                text-align: left;
                                letter-spacing: 0px;
                                font-size: 16px;
                                font-weight: bold;
                                color: #707070;
                                line-height: 24px;
                                opacity: 1;
                                margin: 20px 0;
                            }

                            input,
                            .input-wrap:last-of-type label {
                                width: 100%;
                                height: 24px;
                                background: #FFFFFF 0% 0% no-repeat padding-box;
                                box-shadow: 0px 3px 6px #00000029;
                                border-radius: 42px;
                                opacity: 1;
                                border: none;
                                margin: 15px 0;
                                padding: 20px 45px;
                                text-align: left;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                                font-family: 'Roboto';
                                font-size: 16px;
                                pointer-events: initial;
                                line-height: 24px;

                                @media only screen and (max-width: 1289px) {
                                    width: 66vw;
                                    height: 16px;
                                    padding: 15px 25px;
                                    font-size: 14px;
                                    color: #A3A3A3;
                                }

                                &::placeholder {
                                    color: #A3A3A3;
                                }

                                &:hover {
                                    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149) !important;
                                    transition: all .2s ease-in-out;
                                }

                                &:focus,
                                &.active {
                                    +label {
                                        top: 0px;
                                        padding: 0px 5px;
                                        font-size: 12px;
                                        background: #FFF;
                                        border-radius: 35px;
                                        margin-left: 20px;

                                        @media only screen and (max-width: 1289px) {
                                            padding: 0px 5px;
                                            font-size: 9px;
                                            border-radius: 5px;
                                            line-height: 15px;
                                            top: 7px;
                                        }
                                    }
                                }
                            }

                            .input-wrap {
                                position: relative;
                                margin: 0 !important;

                                &:last-of-type {
                                    height: 94px;
                                    position: relative;

                                    @media only screen and (max-width: 1289px) {
                                        height: 76px;
                                        font-size: 14px;
                                        position: relative;
                                    }

                                    input {
                                        display: none;
                                    }

                                    input,
                                    label {
                                        cursor: pointer !important;
                                        color: #A3A3A3;

                                        @media only screen and (max-width: 1289px) {
                                            padding-left: 15px;
                                            width: 75vw;
                                            padding-right: 0px;
                                            font-size: 12px;
                                        }
                                    }

                                    label {
                                        @media only screen and (max-width: 1289px) {
                                            font-size: 12px !important;
                                            padding-left: 15px !important;
                                            padding-top: 12px !important;
                                            padding-bottom: 18px !important;
                                        }
                                    }
                                }
                            }

                            span {
                                background: url(../../assets/multimedia-option.svg) center center no-repeat;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                bottom: 33px;
                                right: -40px;
                                cursor: pointer;

                                @media only screen and (max-width: 1289px) {
                                    bottom: 23px;
                                    right: 50px;
                                    position: absolute;
                                }
                            }

                            .upload-details {
                                padding: 0px 15px;
                                margin: 0;

                                &.no-file {
                                    color: #e01e5a;
                                }

                                @media only screen and (max-width: 1289px) {
                                    text-align: center !important;
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .animated {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }
}

#email-section {
    margin: -20px 0 25px;
    width: 100%;

    @media only screen and (max-width: 1289px) {
        width: 100vw;
    }

    .content {
        padding: 0 11vw;

        @media only screen and (max-width: 1289px) {
            padding: 0 20px;
        }

        .text-wrapper {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 5px 5px 10px #00000029;
            border-radius: 24px;
            opacity: 1;
            margin-bottom: 21px;
            padding: 26px 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 1289px) {
                flex-direction: column;
                padding: 26px 26px;
                height: 187px;
            }

            div:nth-of-type(2) {
                @media only screen and (max-width: 1289px) {
                    display: flex;
                    justify-content: center;
                }
            }

            .title {
                color: #00C8AA;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0;
                margin: 0;

                @media only screen and (max-width: 1289px) {
                    font-size: 16px;
                }
            }

            .text {
                text-align: left;
                font-size: 14px;
                line-height: 22px;
                font-weight: 200;
                letter-spacing: 0px;
                color: #707070;
                margin: 4px 0 0;
            }

            button {
                background: transparent linear-gradient(258deg, #1E99D5 0%, #02C3AD 100%) 0% 0% no-repeat padding-box;
                box-shadow: 3px 3px 6px #00000036;
                border-radius: 25px;
                opacity: 1;
                padding: 16px 70px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                border: none;
                margin: 30px 0;
                width: 350px;
                height: 50px;
                transition: all 1s ease-out;
                transform: rotateX(45deg);

                @media only screen and (max-width: 1289px) {
                    width: 75%;
                    display: flex;
                    justify-content: center;
                    font-size: 12px;
                    height: auto;
                }

                &:focus {
                    outline: none;
                }

                &:nth-of-type(2) {
                    background: #1ED588 0% 0% no-repeat padding-box;
                    transition: opacity 1s ease-out;

                    span {
                        background: url(../../assets/correct.svg) center center no-repeat;
                        background-size: contain;
                        padding: 13px;
                        margin-right: 20px;
                    }
                }

                &.opened {
                    opacity: 1;
                    max-height: 50px;
                    max-width: 350px;
                    transition: all .6s ease-out;
                    transform: rotateX(0deg);

                    @media only screen and (max-width: 1289px) {
                        max-width: 320px;
                        margin-bottom: 15px;
                    }
                }

                &.closed {
                    position: absolute;
                    transition: opacity 1s ease-out;
                    transform: rotateX(90deg);

                    @media only screen and (min-width: 1290px) {
                        &:hover {
                            opacity: 0 !important;
                            max-height: 0px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    #email-copied {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12px;
    }
}

.topback {
    button {
        background: transparent linear-gradient(258deg, #1E99D5 0%, #02C3AD 100%) 0% 0% no-repeat padding-box;
        box-shadow: 3px 3px 6px #00000036;
        border-radius: 100px;
        color: #FFFFFF;
        border: none;
        font-size: 14px;
        font-weight: bold;
        padding: 24px 96px;
        text-transform: uppercase;
        margin-bottom: 45px;

        @media only screen and (max-width: 1289px) {
            padding: 18px 24px;
            font-size: 9px;
        }
    }
}